.target {
    background: silver;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.first {
    width: 300px;
    height: 60px;
    background: blue;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.second {
    width: 80px;
    height: 214px;
    background: pink;
    display: flex;
    text-align: center;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    flex-direction: column;

    float: left;
}

.three {
    width: 206px;
    height: 100px;w
    background: saddlebrown;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.four {
    width: 206px;
    height: 100px;
    background: saddlebrown;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.five {
    width: 300px;
    height: 60px;
    background: blue;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin-top: 10px;
}

.bbb {
    display: flex;
    flex-direction: column;
}